
NODE_ENV=development
#NODE_ENV=production
jwtPrivateKeyCustom=abgsecret


DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=db_name
DB_PORT=3306
PORT=3004
BASE_URL=http://localhost:3004
SWAGGER_BASE_URL=localhost:3004

# for docker
#DB_HOST=db-mysql
#DB_USERNAME=root
#DB_PASSWORD=root
#DB_NAME=db_name
#DB_PORT=3379
#PORT=3006
#BASE_URL=http://localhost:3006
#SWAGGER_BASE_URL=localhost:3006
